*{
    box-sizing:border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.header{
    min-height:78px;
}

.logo{
     margin:22px 20px 21px 230px;
     float: left;
}

nav{
    margin: 15px 239px 0px 0px;
    float: right;
    clear: right;
}

ul{
    list-style: none;
    padding:0px;
}

a{
    text-decoration: none;
}

nav li{
    float: right;
    margin: 0px 28px 0px 0px;
}

nav li a{
    color: #bdbdbd;
    font-weight: bold;
    font-size: 16px;
}

nav li a:hover {
    color: #e9603c;
}

.title-row{
      background-color:#f3b29d;
}

.title-row-blog{
    color: #ffffff;
    padding: 15px;
    margin: 0px auto 0px auto;
    background-color: #e8603c;
    width: 68%;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

.post-row{
  margin:20px 0px 50px 0px;
}

.post-col-left{
    float: left;
    width: 16%;
    min-height: 60px;
    margin-right: 10px;
}

.icon{
  float:right;
}

.post-col-center{
    float: left;
    width: 66%;
    min-height: 60px;
}

.post-center-left-section{
    width: 70%;
    float: left;
}

.post-img{
  width: 100%;
}

.post-video {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
border:1px solid #ccc;
}

.post-video iframe,.post-video object,.post-video embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.post-description{
    margin: 20px 0px 40px 0px;
}

.post-info{
    float: left;
    width: 20%;
    padding-top: 0px;
}

.text-col{
    float: right;
    width: 80%;
    padding: 0px 10px 0px 10px;
}

.date-margin{
    margin:8px 0px 0px 8px;
}

.post-title{
    text-transform: uppercase;
    color:#e9603c;
    margin-top: 0px;
}


.orange-font{
    color:#e9603c;
    font-family: Bebas, sans-serif;
    font-size: 12px;
}

.p-color{
    color: #bdbdbd;
    font-family: HelveticaNeue, sans-serif;
    font-size: 12px;
}

.post-center-right-section{
width: 25%;
padding-left: 0px;
float: right;
}

.about-list{
    margin-top: 0px;
    padding-left: 0px;
}

.categories-margin{
  margin-bottom: 5px;
}

.categories-margin a {
  color: black
}

.categories-margin a:hover{
  color:#e8603c;

}

.about-title{
    color:#e9603c;
    margin: 0px 3px 20px 0px;
    float: left;
}

.fix-width {
width: 223px;
}

.row-photo{
    width: 224px;
}

.block-photo{
    float: right;
    height:50px;
    width:50px;
    background: #f2af9e;
    margin: 2.5px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.icons{
    float: right;
}

.icon-padding{
    padding-bottom: 90px;
}

.hatching{
background: linear-gradient(to left top,
      transparent 48.9%,
      #bdbdbd 51%, #bdbdbd 70%,
      transparent 80%
      ),
    linear-gradient(to left top,
      #bdbdbd 5%,
      transparent 30%
      );
  background-size: 3px 5px;
  height: 3px;
  width: 100%;

}

.hatching-about{
background: linear-gradient(to left top,
      transparent 48.9%,
      #bdbdbd 51%, #bdbdbd 70%,
      transparent 80%
      ),
    linear-gradient(to left top,
      #bdbdbd 5%,
      transparent 30%
      );
  background-size: 3px 5px;
  height: 10px;
  width: 35%;
  margin: 3px 0px 0px 2px;
  float: left;
}

.quote{
  background: #f5f5f5;
  margin-bottom: 70px;
}

.quote-symbol{
    content: "“";
    display: block;
    font-family: Georgia;
    color: rgb(232, 102, 60);
    font-size: 72px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
}

.text-quote{
  margin: 0px;
  padding: 16px 5px 20px 5px;
}

.post-link{
  margin-bottom: 70px;
}

.p-link-color{
    color: #bdbdbd;
    font-family: HelveticaNeue,sans-serif;
}

.btn-switch {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  color: white;
  background: #f3b29d;
}

.btn-switch:hover{
  background:#ec613a;
}

.footer-col-center{
    width: 68%;
    min-height: 315px;
    background-color:#e9603c;
    color: white;
    margin: 0px auto 0px auto;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

.span-title{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-col{
  width: 33.5%;
  padding: 20px;
  float: left;
}

.link-pink{
  color: #f3b29d;
}

@media (max-width:1140px){
    nav{ margin-right: 20px;}
    .logo{margin:22px 20px 21px 20px;}
    .footer-col{width: 50%;}
}

@media screen and (max-width: 767px) {
    .post-description{display: block;}
    .post-info{width: 100%;}
    .text-col{width: 100%;}
    .inl{display: inline-block;}
    .post-col-center{width: 100%; padding: 0px 20px 0px 20px;}
    .footer-col{display:block; width: 100%;}
    .post-col-left{display: none;}
    .orange-font{  font-size: 11px; }
    .p-color{ font-size: 11px; }
    .post-center-right-section{display: none;}
    .post-center-left-section{width: 100%;}
    .text-col{padding-left: 0px;}
}

@media (max-width:687px){
    nav{ float: none;text-align: center;}
    .logo{float: none;text-align: center;}
    nav li{float: none; margin:10px 0px 10px 0px;}
    .p-color{margin-bottom: 0px;}
    .post-title{margin-top: 11px;}
}