* {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}




/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}




/* close commented backslash hack */

.header {
    min-height: 78px;
    padding-top: 20px;
}

.container {
    margin: 0 auto;
    max-width: 940px;
}

.header-logo {
    float: left;
    display: block;
}

.logo {
    padding-top: 10px;
    float: left;
    color: #e8603c;
    font-weight: bold;
}

.logo-part1,
.logo-part2 {
    font-size: 26px;
}

.logo-part2 {
    color: #f3af9d
}

nav {
    float: right;
    clear: right;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

nav li {
    float: right;
    margin: 0px 28px 0px 0px;
}

nav li a {
    color: #bdbdbd;
    font-weight: bold;
    font-size: 16px;
}

nav li a:hover {
    color: #e9603c;
}

.title-row {
    background-color: #f3b29d;
    margin-bottom: 20px;
}

.title-row-blog {
    color: #ffffff;
    padding: 15px;
    margin: 0px auto 0px auto;
    background-color: #e8603c;
    width: 68%;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

.col-post {
    width: 65%;
    float: left;
}

.post {
    padding-bottom: 50px;
}

.left-col-img {
    float: left;
    width: 24.6%;
    min-height: 60px;
    margin-right: 10px;
}

.icon {
    float: right;
}

.post-content {
    width: 74%;
    float: right;
}

.post-img {
    width: 100%;
}

.post-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 1px solid #ccc;
}

.post-video iframe,
.post-video object,
.post-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-description {
    margin: 20px 0px 40px 0px;
}

.post-info {
    float: left;
    width: 20%;
    padding-top: 0px;
}

.post-text {
    width: 80%;
    float: right;
    padding-left: 10px;
}

.text-col {
    float: right;
    width: 80%;
    padding: 0px 10px 0px 10px;
}

.date-margin {
    margin: 8px 0px 0px 8px;
}

.post-title {
    text-transform: uppercase;
    color: #e9603c;
    margin-top: 0px;
}


.orange-font {
    color: #e9603c;
    font-family: Bebas, sans-serif;
    font-size: 12px;
}

.p-color {
    color: #bdbdbd;
    font-family: HelveticaNeue, sans-serif;
    font-size: 12px;
}

.sidebar {
    width: 18%;
    padding-left: 20px;
    float: left;
}

.about-list {
    margin-top: 0px;
    padding-left: 0px;
}

.categories-margin {
    margin-bottom: 5px;
}

.categories-margin a {
    color: black
}

.categories-margin a:hover {
    color: #e8603c;
}

.about-title {
    color: #e9603c;
    margin: 0px 3px 20px 0px;
    float: left;
}

.fix-width {
    width: 223px;
}

.row-photo {
    width: 224px;
}

.block-photo {
    float: right;
    height: 50px;
    width: 50px;
    background: #f2af9e;
    margin: 2.5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.icons {
    float: right;
}

.icon-padding {
    padding-bottom: 90px;
}

.hatching {
    background: linear-gradient(to left top,
    transparent 48.9%,
    #bdbdbd 51%, #bdbdbd 70%,
    transparent 80%),
    linear-gradient(to left top,
    #bdbdbd 5%,
    transparent 30%);
    background-size: 3px 5px;
    height: 3px;
    width: 100%;
}

.hatching-about {
    background: linear-gradient(to left top,
    transparent 48.9%,
    #bdbdbd 51%, #bdbdbd 70%,
    transparent 80%),
    linear-gradient(to left top,
    #bdbdbd 5%,
    transparent 30%);
    background-size: 3px 5px;
    height: 10px;
    width: 35%;
    margin: 3px 0px 0px 2px;
    float: left;
}

.quote {
    background: #f5f5f5;
    margin-bottom: 70px;
}

.quote-symbol {
    content: "“";
    display: block;
    font-family: Georgia;
    color: rgb(232, 102, 60);
    font-size: 72px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
}

.text-quote {
    margin: 0px;
    padding: 16px 5px 20px 5px;
}

.post-link {
    margin-bottom: 70px;
}

.p-link-color {
    color: #bdbdbd;
    font-family: HelveticaNeue, sans-serif;
}

.page-switch {
    padding: 40px 0px;
}

.container-switch {
    margin: 0 auto;
    max-width: 94px;
}

.btn-switch {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    background: #f3b29d;
}

.btn-switch:hover {
    background: #ec613a;
}

.footer-col-center {
    width: 68%;
    min-height: 315px;
    background-color: #e9603c;
    color: white;
    margin: 0px auto 0px auto;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

.span-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer {
    background-color: #f3b29d;
}

.footer-col {
    width: 33.5%;
    padding: 20px;
    float: left;
}

.link-pink {
    color: #f3b29d;
}


@media (max-width:1112px) {
    .post-content {
        width: 73%;
    }
}

@media (max-width:960px) {
    .container {
        margin: 0 10px;
    }
}


@media (max-width:768px) {
    .left-col-img {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .col-post {
        width: 100%;
    }

    .post-content {
        width: 100%;
        padding: 0px 10px;
    }

    nav {
        display: block;
        float: none;
        text-align: center;
    }

    .header-logo,
    .logo {
        float: none;
        text-align: center;
        display: block;
    }
    nav li {
        float: none;
        margin: 0px;
        line-height: 1.5;
    }
    .footer-col {
        display: block;
        width: 100%;
    }
    .post-info {
        width: 100%;
    }

    .post-text {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .inl {
        display: inline-block;
    }
}


@media (max-width:480px) {
    .orange-font {
        font-size: 11px;
    }
    .p-color {
        font-size: 11px;
    }
    .footer-col-center {
        width: 100%;
    }
}